<div class="container" id="scanner_container">
  <div class="card" style="width: 18rem;">
    <div class="text-center" id='barcode-scanner'></div>
    <div class="card-body">
      <h5 class="card-title">Scan Product</h5>
      <p class="card-text">Scan Product barcode here</p>
      <a href="<%= root_path %>" class="btn btn-primary">All Products</a>
    </div>
  </div>
</div>
