<!-- <div class="col-md-12"> -->
<!--   <div class="imagebg border--round" data-overlay="2" style="border-radius: 0px !important;">
    <div class="background-image-holder">
      
    </div>
  </div> -->
<!-- </div> -->
<%= image_tag "hero-3.png", alt: "background", style: "width: 100%;" %>